#Nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5vmin 3vmin 1vmin 1.5vmax;
    

}
#Nav h2{
    font-size: 2.5vmax;
}
#Nav h2 span{
    color:#827;
}

#navOptions{
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 4vmin;
    list-style-type: none;
}

#navOptions .navBtnLogin {
    width: 5em;
    height: 3em;
    background-color:#ffde6a;
    border: 1px solid rgba(95, 92, 92, 0.548);
    padding: 1vmin 1.5vmin 1vmin 1.5vmin ;
    border-radius: 5px;
    color: #295174;
 
    &:hover {
        background-color: #ebc84c;
        transition-duration: 0.4s;
    }
}

#navOptions .navBtn {
    
    height: 3em;
    background-color: #3c4145;
    border: 1px solid rgba(95, 92, 92, 0.548);
    padding: 1vmin 2vmin 1vmin 2vmin ;
    border-radius: 5px;
    color: #fff;
    &:hover {
        background-color: #474f57;
        transition-duration: 0.4s;
    }
}

#navProfile{
    position: absolute;
    right: 3vmin;
    border: 1px solid darkorange;
    border-radius: 2vmin;
}

.navProfileOptions{
    display: flex;
    align-items: center;
    margin: 0.5vmin;
    gap: 1vmin;
}